*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
    block-size: 100%;
    display: flex;
}

.page {
    display: flex;
    inline-size: 1200px;
    block-size: 100%;
    margin: 0 auto;
    color: #fff;
    font-family: 'Fira Sans Condensed', Arial, sans-serif;
    font-size: 18px;
    background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
    margin: 0;
    padding: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}



ul,
ol {
    list-style: none;
}

.visually-hidden {
    position: absolute;
    inline-size: 1px;
    block-size: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
}

.button {
    font-family: Fira Sans Condensed,Arial, sans-serif;;
    cursor: pointer;
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    color: inherit;
   
}

.button:active {
    background: rgb(84, 80, 80);
}

.button:hover {
    text-decoration: underline;
}


.button:focus {
    outline: none;
}

.button:focus-visible{
    outline: 1px solid #fff;
  outline-offset: -3px;
}

.search-form__submit-button {
    margin-top: 20px;
    padding: 4px 72px;
    
}

.more-button {
    display: flex;
    align-items: flex-end;
    padding: 6px 130px;
    padding-bottom: 5px;
}

.content {
    display: flex;
    gap: 30px;
    max-width: 1140px;
    padding: 133px 30px;
    width: 100%;
    height: 100%;
    padding-bottom: 100%;
}

.content__details {
    width: 399px;

}

.title {
    font-family: Oswald,Arial, sans-serif;
    font-size: 75px;
    font-weight: 700;
    line-height: 94%;
    text-transform: uppercase;
    padding-bottom: 20px;
}

.content__accent {
    color: #545050;
}

.content__list {
    position: relative;
    height: 298px;
    overflow-y: auto;
    overflow-x: hidden;
}

.result {
    width: 711px;
    padding-bottom: 100%;
}


.search-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}



.search-form__textfield {
    width: 100%;
    font-family: Fira Sans Condensed,Arial, sans-serif;
    appearance: none;
    background-color: transparent;
    color: inherit;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    border: none;
    border-bottom: 1px solid rgb(255, 255, 255);
    border-top: 1px solid rgb(255, 255, 255);
}

.search-form__textfield:focus {
    outline: none;
}

.search-form__fieldset {
     width: 32%;
    border: none;
}

.search-form__label {
    cursor: pointer;
    position: relative;
}

.search-form__label:hover {
    text-decoration: underline;
}

.search-form__label:focus-within {
    outline: 1px solid rgb(255, 255, 255);
    outline-offset: 1px;
}

.search-form__fieldset-title {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 4px;
}

.search-form__fieldset-title-pd{
    padding-left: 7px;
}

.search-form__checkbox-list {
    display: flex;
    gap: 10px;
    justify-content: space-evenly;
    
}

.search-form__label-text {
    margin-left: 24px;

}

.search-form__pseudo-checkbox {
    content: "";
    position: absolute;
    left: 0px;
    top: 1px;
    width: 19px;
    height: 19px;
    border: 1px solid rgb(255, 255, 255);
}

input[type=checkbox]:checked+.search-form__pseudo-checkbox::before {

    content: "";
    position: absolute;
    left: 1px;
    top: 1px;
    width: 15px;
    height: 15px;
    border: 1px solid rgb(255, 255, 255);
    background: rgb(255, 255, 255);
}




.result__video-container {
    position: relative;
    width: 711px;
    margin-top: 73px;
}

.result__video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


.content__list-item {
    margin-bottom: 30px;
}

.content__list-item:last-child {
    margin-bottom: 0;
}

.content__video-card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.content__video-card-thumbnail {
    max-width: 194px;
    object-fit: cover;
    object-position: center;
}

.content__card-link {
    display: block;
    text-decoration: none;
    color: inherit;
    margin: 2px;
}

.content__card-link:focus {
    outline: none;
}

.content__card-link:focus-visible {
    border: 1px solid rgb(255, 255, 255);
}

.content__card-link:hover {
    text-decoration: underline;
}

.content__card-link_current {
    background-color: rgb(84, 80, 80);
}

.content__video-card-title {
    font-family: Oswald,Arial, sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}